*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
.head {


}

.header_nav h1 {
    color: rgb(0, 0, 0);
    font-family: 'Aboreto', cursive;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 30px 0;
    letter-spacing: 2px;
    float: right;
    margin-right: 0px;
    margin: top 0;
    width:65%;
    height: 280px;
    background:rgba(250, 214, 11, 0.815);
}
.header_nav h2 {
    color: rgb(0,0,0);
    font-family: 'Aboreto', cursive;
    display: flex;
    justify-content:left;
    align-items:center;
    padding: 0px 0;
    letter-spacing: 2px;
    float: right;
    margin-right: 0px;
    margin: top 0;
    width:65%;
    height: 130px;
    background:rgba(250, 214, 11, 0.815);
}
    .foto_de_perfil  {
    width: 35%;
    height: 410px; 
    background:rgba(250, 214, 11, 0.815);
    padding-top: 40px;
    padding-left: 10px;
    border-left: 1px;
    margin: top 0;
  }



.boton {
    position:relative;
    display:flexbox;
    padding: 8px 8px;
    color: rgb(238, 235, 235);
    background-color: rgb(0, 0, 0);
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 17px;
    overflow: hidden;
    transition: 0.1s;
    font-family: 'Aboreto', cursive;
    border-bottom: darkgoldenrod;
}
.boton:hover{
    background:rgba(207, 194, 11, 0.815);
    box-shadow: 0 0 10px #000000, 0 0 40px #000000, 0 0 80px #000000;
    transition-delay: 0.1s;
 } 

.Nombres{
  float: right;
  border-left: 1px;
  width: 66%;
  height: 380px; /* only for demonstration, should be removed */
 
  padding: 25px;
  font-family: 'Aboreto', cursive;
}

.dp {

border-color: #000000;
border-style: solid;
border-radius: 20px;
margin: 10px;
position: absolute;
visibility:visible;
padding: 30px;
background:rgba(236, 236, 236, 0.815);
box-shadow: 0 0 3px #000000, 0 0 20px #000000, 0 0 40px #000000;
transition-delay: 0.1s;

}

.pp {

    border-color: #000000;
    border-style: solid;
    border-radius: 20px;
    margin: 10px;
    position: absolute;
    visibility:hidden;
    padding: 30px;
    background:rgba(236, 236, 236, 0.815);
box-shadow: 0 0 3px #000000, 0 0 20px #000000, 0 0 40px #000000;
transition-delay: 0.1s;
    }

.fa {

    border-color: #000000;
    border-style: solid;
    border-radius: 20px;
    margin: 10px;
    position: absolute;
    visibility:hidden;
    padding: 30px;
    background:rgba(236, 236, 236, 0.815);
box-shadow: 0 0 3px #000000, 0 0 20px #000000, 0 0 40px #000000;
transition-delay: 0.1s;
    }

    .hb {

        border-color: #000000;
        border-style: solid;
        border-radius: 20px;
        margin: 10px;
        position: absolute;
        visibility:hidden;
        padding: 30px;
        background:rgba(236, 236, 236, 0.815);
box-shadow: 0 0 3px #000000, 0 0 20px #000000, 0 0 40px #000000;
transition-delay: 0.1s;
        }

    .el {

        border-color: #000000;
        border-style: solid;
        border-radius: 20px;
        margin: 10px;
        position: absolute;
        visibility:hidden;
        padding: 30px;
        background:rgba(236, 236, 236, 0.815);
box-shadow: 0 0 3px #000000, 0 0 20px #000000, 0 0 40px #000000;
transition-delay: 0.1s;
        }

        .cont {

            border-color: #000000;
            border-style: solid;
            border-radius: 20px;
            margin: 10px;
            position: absolute;
            visibility:hidden;
            padding: 30px;
            background:rgba(236, 236, 236, 0.815);
    box-shadow: 0 0 3px #000000, 0 0 20px #000000, 0 0 40px #000000;
    transition-delay: 0.1s;
            }

section h2 {
    
margin-left: 100px;
margin-top: 45px;
font-family:'Nunito', sans-serif;
font-size: 30px;

}

section h3 {
    
    margin-left: 50px;
    margin-top: 40px;
    font-family:'Nunito', sans-serif;
    font-size: 24px;
    
    }
section p {
    font-family:'Nunito', sans-serif;
    padding: 80px,80px;
    margin-top:25px;
    margin-bottom: 15px;
    margin-left:40px;
    letter-spacing: 1px;
    font-size: 22px;
  }